#_____________________________________________________________________________

# Changing options based on module

# Something that Solaris was doing for intl libraries.
if $(eq $(ModuleName), "intl") 
    LIB_LINK_OPTIONS := -assert pure-text -assert nosymbolic 
endif

LIB_LINK_OPTIONS:=
LIB_LINK_RPATH:=-Wl,-rpath,
LIB_LINK_SONAME:=-Wl,-soname,

Physical_IO_Module=unix.cpp
