#_____________________________________________________________________________

# Changing options based on module

# Something that Solaris was doing for intl libraries.
if $(eq $(ModuleName), "intl") 
    LIB_LINK_OPTIONS := -assert pure-text -assert nosymbolic 
endif

OS_ServerFiles=inet_server.cpp

LIB_LINK_OPTIONS:=
LIB_LINK_RPATH:=-Wl,-rpath,
LIB_LINK_SONAME:=-Wl,-soname,
EMBED_UTIL_TARGETS=gstat gds_drop gds_relay gsec fb_lock_print
CLIENT_UTIL_TARGETS=gds_drop gds_relay gstat gsec fbguard fbmgr_bin fb_lock_print

Physical_IO_Module=unix.cpp
